.defaultFont {
    font-family: IBM Plex Sans !important;
}

.robotoFont {
    font-family: Roboto, sans-serif !important;
    font-style: normal;

    a {
        color: white !important;
        font-weight: 500;
    }
}

.noCapitalize {
    text-transform: none !important;
}

.bg-white {
    .theme--dark {
        .bg-color {
            background-color: #1D2027 ;
        }
        }

        .theme--light {
        .bg-color {
            background-color: #FFFFFF;
        }
        }
}

.outlined {
    border: solid $border 1px !important;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100% !important;
}

.auto-width {
    width: auto !important;
}

.ml-full {
    margin-left: 100% !important;
}

.pointer {
    cursor: pointer;
}

.position-absolute {
    position: relative;
}

// Table

td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

// Fonts

.font_wght400 {
   
    font-family: IBM Plex Sans !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left !important;

}

.font_wght600 {
    font-weight: 600 !important;
    font-style: normal !important;
   
}

.font_wght500 {
    font-weight: 500 !important;
    font-style: normal !important;
   
}

.font_wght700 {
    font-weight: 700 !important;
    font-style: normal !important;
    font-family: IBM Plex Sans !important;
   
}

// Font Size

.ft-10 {
    font-size: 10px !important;
}

.ft-12 {
    font-size: 12px !important;
}

.ft-14 {
    font-size: 14px !important;
}

.ft-16 {
    font-size: 16px !important;
}

.ft-18 {
    font-size: 18px !important;
}

.ft-20 {
    font-size: 20px !important;
}

.ft-25 {
    font-size: 25px !important;
}

.ft-30 {
    font-size: 30px !important;
}

.ft-40 {
    font-size: 40px !important;
}

// line-height

.sm-line {
    line-height: 18.2px !important;
}