// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$border: rgba(94, 96, 98, 0.13);

// Color
$successColor: #00D673;

// Theme
// $material-light / $material-dark

$light-text: #000000;
$dark-text: #ffffff;

// V-tabs
.theme--light.v-tabs {
  .v-tab--active {
    color: black !important;
  }
}

.theme--dark.v-tabs > .v-tabs-bar, .theme--dark.v-tabs-items {
  background-color: #1d2027 !important;
}

// Header
.v-toolbar__content  {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

// Globals
$body-font-family: IBM Plex Sans;
$headingfont:'IBM Plex Sans'; 
$font-weights: 600;
$primary: #FFC407;

// input field
$text-field-filled-border-radius: '5px';
$text-field-line-height: '40px';

#app {
  font-family: $body-font-family;
  // background: #E5E5E5;
}

.theme--dark {
  .black--text {
    color: white !important;
  }
}

.black-font {
  color: black;
}

h1 {
  font-weight: 700 !important;
  font-style: normal;
}

// Stepper 
.v-stepper__header {
  box-shadow: none !important;
}

.v-stepper__step--complete {
  .v-stepper__step__step {
    background-color: $successColor !important;
  }
 
}

.v-slider__tick {
  border-radius: 50% !important;
  height: 12px !important;
  width: 12px !important;
  background-color: #FFFFFF !important;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
}

.v-slider--horizontal .v-slider__tick .v-slider__tick-label {
  top: -25px !important;
  font-size: 12px !important;
}

.v-slider__tick--filled {
  background-color: $primary !important;
  border: 2px solid white !important;
}

.v-application--is-ltr .v-slider--horizontal .v-slider__tick-label {
  transform: none !important;
}

.custom_thumb {
  .v-slider__thumb {
    left: -8px !important;
  }

  .v-application--is-ltr .v-slider--horizontal .v-slider__tick:last-child .v-slider__tick-label {
    transform: none !important;
  }
}



.v-data-table-header {
  border-bottom: 0 !important;
}

.v-messages__message {
  text-align: center !important;
}

// pagination
.v-pagination__item {
  box-shadow: none !important;
}

.v-pagination__navigation {
  box-shadow: none;
  border: solid $border 1px !important;

  .theme--light.v-icon {
    color: black !important;
  }
}


// v-data-table
.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
  border-bottom: none !important;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row),
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row),
.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row),
.theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
  border-bottom: none !important;
}
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:last-child,
.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:last-child {
  border-bottom: none !important;
}

// V-Select
  .v-text-field .v-input__prepend-inner,
  .v-text-field .v-input__append-inner {
    align-self: center !important;
  }


.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 40px !important;
}

.v-text-field fieldset,
.v-text-field .v-input__control,
.v-text-field .v-input__slot {
  border-radius: 5px !important;
}

.v-text-field--enclosed .v-input__append-inner {
  margin: auto !important;
}

.v-text-field--enclosed .v-input__prepend-inner {
  margin: auto !important;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #F4F4F4 !important;
}

// filled text-field border bottom
.theme--light.v-text-field>.v-input__control>.v-input__slot:before {
  border: none;
  border-bottom-left-radius: 5px !important;
}

.theme--dark.v-text-field>.v-input__control>.v-input__slot:before {
  border: none;
  border-bottom-left-radius: 5px !important;
}

.theme--dark.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #20232B !important;
}


.theme--dark.v-text-field--outlined > .v-input__control > .v-input__slot {
  background: #3B4150 !important;
}

.theme--dark.v-text-field--outlined fieldset {
  border-style: none !important;
}


// Button
.theme--light.v-btn--active {
  background-color: #FFE89D !important;
}

.theme--dark.v-btn--active {
  background-color: #2A2F3A !important;
}

.v-btn {
  text-transform: none !important;
  font-weight: bolder !important;
  font-style: normal !important;
  // color: black !important;
}

.theme--dark.v-btn.v-btn--outlined {
  background: #3B4150;
  border-color: none !important;
  color: white !important;
}

// Cards
.theme--dark.v-card, .theme--dark.v-data-table {
  background-color: #1d2027;
}

// Stepper 
.theme--dark.v-stepper {
  background: transparent;
}

// V-chip
.v-chip.v-size--default {
  border-radius: 5px !important;
}

a {
    text-decoration: none;
}

